/*styling the container*/
.container{
    margin: 0;
    left: 0;
    top:0;
    padding: 0;
}

/*styling the row */
.row{
    margin: 0;
    left: 0;
    top:0;
    padding: 0;
}

/*styling the home use with container*/
.home{    
    margin: 0;
    left: 0;
    top:0;
    padding: 0;    
}

/*styling the header*/
.header{    
    width: 100%;
    height: 100px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(232, 73, 73, 0.88) ,rgba(222, 108, 108, 0.65));
}

/*styling the header-line*/
.header-line{
    line-height: 100px;
    margin: 0;
}

/*styling the middle part of page*/
.middle{
    width: 100%;
    height: 470px;
    background: url("../image/background.jpeg");
    background-size: 100% 100%;
}

/*styling the text-area class*/
.text-area{
    margin: 50px auto 0 auto;
    text-align: center;
}
.ol{
    list-style-type:none;
    text-align : center;
    margin : auto;
}
#sepallength,#sepalwidth,#petallength,#petalwidth{
    height : 30px;
    width : 300px;
    margin: 10px;
    text-align: center;
}

/*styling the predict button class*/
.predict-button{
    text-align: center;
    margin: 50px auto 0 auto;
    
}

/*styling the predict button*/
.button{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background: transparent;
}

/*styling the predict button:hover*/
.button:hover{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(232, 73, 73, 0.88) ,rgba(222, 108, 108, 0.65));
}

/*styling the footer class*/
.footer{
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top, rgba(232, 73, 73, 0.88) ,rgba(222, 108, 108, 0.65));
}

/*styling the icon class*/
.icon{
    text-align: center;
}

/*styling the icon of github and LinkedIn*/
.contact-icon{
    color: black;
    text-align: center;
    margin-left: 5px;
}